<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.norispace.noristory">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        android:usesCleartextTraffic="true">

        <activity android:name="com.norispace.ReadMyBookActivity" /> <!-- <activity android:name=".TempActivity"></activity> -->
        <service
            android:name="com.amazonaws.mobileconnectors.s3.transferutility.TransferService"
            android:enabled="true" />

        <activity android:name=".SetCharacterActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".MakeStory.SelectCharacterActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".MakeStory.SelectSubjectActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".MakeStory.MakeStoryActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".SelectUserActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ShowBookActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".EmptybookActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".BookMenuActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".LibraryActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".MyInfoActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".SignUpActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".StoryMenuActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Login.LoginActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ManageIcon.SubjectActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".MyBooksActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".OptionalStory.SunMoonActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".MakeStory.MakeCardActivity"
            android:screenOrientation="landscape" />
    </application>

</manifest>